<div style="display: flex; justify-content: center; margin-top: 1rem">
  <h1>A plain site for a plain privacy policy</h1>
</div>
<div style="margin: 2rem">
  <h3>Summary in Plain Words</h3>
  <br />

  <p>
    There is no code or tracking from Facebook in the app. There is no code or
    tracking from Google in the app. We do not require any PII (personally
    identifiable information) to use Ouvite. If you enter PII to enable certain
    features we store it securely and never sell it. We use anonymous analytics
    to improve the app.
  </p>
  <br />

  <h3>Intro</h3>
  <br />

  <p>
    We want to make it clear how we use your data because we appreciate your
    trust and handle your data carefully and sensibly. By using our services you
    accept this privacy policy.
  </p>
  <br />

  <p>
    First, no private information is required in order to use Outvite. In the
    vast majority of cases, we know nothing private about you.
  </p>
  <br />

  <h3>What We Collect</h3>
  <br />

  <p>
    If you sign up for email notifications, we must store your email to send you
    those notifications.
  </p>
  <br />

  <p>
    If you enter your name or photo, we keep them in the app. We do not send
    them to ourselves, store them, or know them.
  </p>
  <br />

  <p>
    We use randomly generated tokens in the app to keep you logged in and send
    you push notifications. Our server software stores basic technical
    information, such as your IP address.
  </p>
  <br />

  <h3>Ads &amp; Analytics</h3>
  <br />

  <p>
    Outvite's app collects anonymous statistics, such as the percentage of users
    who use particular features, to improve the app.
  </p>
  <br />

  <p>Outvites's app collects nothing for, or related to, ads.</p>
  <br />

  <h3>How Information is Used</h3>
  <br />

  <p>
    We use the information we collect to operate and improve our website, apps,
    and customer support.
  </p>
  <br />

  <p>
    We do not share personal information with outside parties except to the
    extent necessary to accomplish Outvite's functionality.
  </p>
  <br />

  <p>
    We may disclose your information in response to subpoenas, court orders, or
    other legal requirements; to exercise our legal rights or defend against
    legal claims; to investigate, prevent, or take action regarding illegal
    activities, suspected fraud or abuse, violations of our policies; or to
    protect our rights and property.
  </p>
  <br />

  <p>
    In the future, we may sell to, buy, merge with, or partner with other
    businesses. In such transactions, user information may be among the
    transferred assets.
  </p>
  <br />

  <h3>How We Protect Information</h3>
  <br />

  <p>
    We implement numerous security measures to help keep your information
    secure. For instance, all communication with the app and website requires
    HTTPS with certificate pinning.
  </p>
  <br />

  <h3>Your Rights</h3>
  <br />

  <p>
    You can access or delete your personal information anytime by emailing us at
    outvite@outvite.me.
  </p>
  <br />

  <h3>California Online Privacy Protection Act Compliance</h3>
  <br />

  <p>
    We comply with the California Online Privacy Protection Act. We therefore
    will not distribute your personal information to outside parties without
    your consent.
  </p>
  <br />

  <h3>Children’s Online Privacy Protection Act Compliance</h3>
  <br />

  <p>
    We never collect or maintain information at our website from those we
    actually know are under 13, and no part of our website is structured to
    attract anyone under 13.
  </p>
  <br />

  <h3>Information for European Union Customers</h3>
  <br />

  <p>
    By using our services and providing your information, you authorize us to
    collect, use, and store your information outside of the European Union.
  </p>
  <br />

  <h3>International Transfers of Information</h3>
  <br />

  <p>
    Information may be processed, stored, and used outside of the country in
    which you are located. Data privacy laws vary across jurisdictions, and
    different laws may be applicable to your data depending on where it is
    processed, stored, or used.
  </p>
  <br />

  <h3>Future Changes</h3>
  <br />

  <p>
    We can and likely will update our privacy policy in the future. Visit this
    page to be aware of the policy you are agreeing to by using our services.
  </p>
  <br />

  <h3>Reference</h3>
  <br />

  <p>
    Sections of this privacy policy were taken from Flighty App's privacy
    policy.
    <a href="https://flightyapp.com/privacy/">flightyapp.com/privacy/</a>
  </p>
  <br />
</div>
