<div style="display: flex; justify-content: center; margin-top: 1rem">
  <h1>Terms of Service</h1>
</div>
<div class="support-all" style="margin: 2rem">
  <p>
    This document (the "Agreement") sets forth the terms and conditions that
    govern your use of the app or services offered by or through Outvite. Your
    use of any of our services will constitute acceptance of this Agreement and
    will have the same legal effect as if you were providing a handwritten
    signature of acceptance.
  </p>
  <br />
  <p>
    Please be aware that these terms of service do not in any way apply to the
    provision, administration and/or performance of any UK insurance policy
    distributed and/or administered through the app. They do not affect the
    rights and/or obligations of you, the app, or any other party to or person
    interested in any UK contract of insurance sold and/or administered through
    the app.
  </p>
  <br />
  <p>
    PLEASE READ CAREFULLY BEFORE USING OUTVITE. YOUR USE OF THE SERVICE OR ANY
    SERVICES PROVIDED THROUGH OUTVITE IS SUBJECT TO THESE TERMS. YOU AGREE TO BE
    BOUND BY THE TERMS PRESENTED BELOW. IF YOU DO NOT AGREE TO THESE TERMS, DO
    NOT USE OUTVITE IN ANY WAY OR FOR ANY PURPOSE WHATSOEVER.
  </p>
  <br />
  <p>
    This Terms sets out the legal terms between you (either an individual or
    legal entity) and OUTVITE (“Administration” or “we” or “us” or "Outvite").
  </p>
  <br />
  <p>
    These Terms are accepted by you when you actually use Outvite. You may print
    a copy of these Terms for your records and we highly recommend you do so.
    These Terms remain effective from the date of acceptance until terminated by
    you or Administration in accordance with this Terms.
  </p>
  <br />
  <p>
    You cannot accept these Terms if: (a) you are not lawfully entitled to use
    the Service under any applicable laws in the country in which you are
    located or resident; or (b) if you are not of legal age to form a binding
    agreement with Administration. By accepting these terms you acknowledge and
    agree that you have reached the age to enter into such binding agreement in
    the country in which you are located or resident or that you have your
    parent or legal guardian’s permission if required by applicable law. It is
    your responsibility to ensure that you are legally allowed to enter into
    this Agreement and that you do not violate any applicable laws.
  </p>
  <br />
  <p>
    In some countries there exist legal and/or other restrictions on usage of
    Outvite and/or downloading, installing and/or using of products, portions of
    products, software which are or might be available through the Service. It
    is your responsibility to ensure that you comply with all applicable legal
    restrictions in your jurisdiction.
  </p>
  <br />
  <p>
    NOTICE: You do agree to follow the Children's Online Privacy Protection Act
    of 1998.
  </p>
  <br />
  <h3 id="free-trial">Free Trial</h3>
  <p>
    Outvite provides a free trial during which you can use all features of the
    service.
  </p>
  <br />
  <h3 id="right-to-refuse-service">Right to Refuse Service</h3>
  <p>
    Outvite reserves the right to refuse service to anyone, anywhere, anytime,
    for any reason. Such as, but not limited to: using the app for unintended
    purposes, using an unreasonable amount of resources, or abuse of the terms,
    as defined solely by Outvite at our discretion.
  </p>
  <br />

  <h3 id="new-features-and-modifications-to-terms-of-service">
    New Features and Modifications to Terms of Service
  </h3>
  <p>
    We may from time to time introduce new features to the service or modify or
    delete existing features. We will post any new or modified features when
    they become available, as well as any new or modified terms of this
    Agreement. Any new or modified terms will become effective for your use of
    the service upon your use of a new or modified feature.
  </p>
  <br />
  <h3 id="limited-license">Limited License</h3>
  <p>
    We grant to the end User a limited, non-sublicensable, non-exclusive and
    revocable license to access and make use of the Outvite, the Mobile
    applications and the Materials solely in accordance with, and subject to,
    these Terms and any other of our policies as said in Outvite.
  </p>
  <br />
  <p>
    Except as otherwise expressly permitted by these Terms, you may not:
    collect, use, copy or distribute any portion of Outvite or the Materials;
    resell, publicly perform or publicly display any portion of the Materials;
    modify or otherwise make any derivative uses of any portion of Outvite, the
    Mobile applications or the Materials; use any “deep-link,” “page-scrape,”
    “robot,” “spider” or other automatic device, program, algorithm or
    methodology which perform similar functions to access, acquire, copy, or
    monitor any portion of Outvite; use Outvite in a manner which results in the
    depletion of Web site infrastructural resources; download (other than page
    caching) any portion of Outvite, the Materials or any information contained
    therein or use Outvite or the Materials other than for their intended
    purposes.
  </p>
  <br />
  <h3 id="notices-and-claims">Notices and Claims</h3>
  <p>
    Administration may give notice of a claim of copyright infringement to our
    users by means of a general notice on the Services, electronic mail to a
    user's email address in our records, or by written communication sent by
    mail. In accordance with the applicable law, Administration has adopted a
    policy of terminating, in appropriate circumstances and at the sole
    discretion of Administration, account holders who are deemed to be repeat
    infringers. Administration may also at its sole discretion limit access to
    the Services of Outvite and/or terminate the accounts of any users who
    infringe any intellectual property rights of others, whether or not there is
    any repeat infringement.
  </p>
  <br />
  <p>
    If you believe that anything on the Services infringes upon any copyright
    which you own or control, you may send a notification of such infringement
    to: <a href="mailto:outvite@outvite.me">outvite@outvite.me</a>.
  </p>
  <br />
  <h3 id="terminations-of-terms">Terminations of Terms</h3>
  <p>
    Without limiting other remedies, Outvite may suspend or terminate this
    Agreement with you, or may terminate or suspend your use of the Services at
    any time if: (a) you are in default of these Terms; (b) you are engaged in
    illegal actions, or infringe proprietary rights, rights of privacy, or
    intellectual property rights of any person, or any third party rights, or
    otherwise create risk or possible legal exposure for us; (c) required by
    applicable laws/regulations and within the time limits as required by such
    laws/regulations; (d) you are using Outvite as not originally intended; (e)
    you are abusing or otherwise causing extreme usage of Outvite services or
    resources, determined at our sole discretion; (f) we decide to cease
    offering the Services generally.
  </p>
  <br />
  <p>
    Upon termination of this Terms: (a) all licenses and rights to use the
    Services shall immediately terminate; (b) you will immediately cease any and
    all use of the Services. Any suspension or termination of this Terms will
    not affect your obligations to Administration under these Terms (including,
    without limitation, proprietary rights and ownership, indemnification and
    limitation of liability, confidentiality), which reasonably are intended to
    survive such suspension or termination. We reserve the right to change or
    modify any provisions of these Terms or guidelines governing your use of the
    Services, at any time in our sole discretion and without liability to users.
    Any such changes or modifications will be effective immediately upon posting
    of revisions on Outvite. Your continued use of the Services following the
    posting of such changes or modifications constitutes your acceptance of the
    Terms. Therefore, you should frequently review these Terms or guidelines of
    Outvite in order to understand the terms and conditions applicable to your
    use of the Services. If you do not agree to any changes or modifications to
    these Terms or to any applicable policies or guidelines, your sole recourse
    is to stop using the Services.
  </p>
  <br />
  <h3 id="exclusion-of-warranties-limitation-of-liability-and-indemnity">
    EXCLUSION OF WARRANTIES, LIMITATION OF LIABILITY AND INDEMNITY
  </h3>
  <p>
    NO WARRANTIES: TO THE MAXIMUM EXTENT PERMITTED BY LAW: THE SERVICES PROVIDED
    “AS IS” AND USED AT YOUR SOLE RISK WITH NO WARRANTIES WHATSOEVER;
    ADMINISTRATION DOES NOT MAKE ANY WARRANTIES, CLAIMS OR REPRESENTATIONS AND
    EXPRESSLY DISCLAIMS ALL SUCH WARRANTIES OF ANY KIND, WHETHER EXPRESS,
    IMPLIED OR STATUTORY, WITH RESPECT TO THE SERVICES INCLUDING, WITHOUT
    LIMITATION, WARRANTIES OR CONDITIONS OF QUALITY, PERFORMANCE,
    NON-INFRINGEMENT, MERCHANTABILITY, OR FITNESS FOR USE FOR A PARTICULAR
    PURPOSE. Administration FURTHER DOES NOT REPRESENT OR WARRANT THAT THE
    SERVICES WILL ALWAYS BE AVAILABLE, ACCESSIBLE, UNINTERRUPTED, TIMELY,
    SECURE, ACCURATE, COMPLETE AND ERROR-FREE OR WILL OPERATE WITHOUT PACKET
    LOSS, NOR DOES ADMINISTRATION WARRANT ANY CONNECTION TO OR TRANSMISSION FROM
    THE INTERNET.
  </p>
  <br />
  <p>
    NO LIABILITY: YOU ACKNOWLEDGE AND AGREE THAT ADMINISTRATION SHALL HAVE NO
    LIABILITY WHATSOEVER, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR
    ANY OTHER THEORY OF LIABILITY, AND WHETHER OR NOT THE POSSIBILITY OF SUCH
    DAMAGES OR LOSSES HAS BEEN NOTIFIED TO ADMINISTRATION, IN CONNECTION WITH OR
    ARISING FROM YOUR USE OF THE SERVICES PROVIDED TO YOU THROUGH OUTVITE. YOUR
    ONLY RIGHT OR REMEDY WITH RESPECT TO ANY PROBLEMS OR DISSATISFACTION WITH
    SUCH SERVICES IS TO IMMEDIATELY CEASE USE OF SERVICES.
  </p>
  <br />
  <p>
    FURTHERMORE, YOU ACKNOWLEDGE AND AGREE THAT NEITHER ADMINISTRATION NOR
    ANYONE ELSE WHO HAS BEEN INVOLVED IN THE CREATION, PRODUCTION OR DELIVERY OF
    THE SERVICES shall be liable to you, whether in contract, tort (including
    negligence) or any other theory of liability, and whether or not the
    possibility of such damages or losses has been notified to Administration,
    for (a) any indirect, special, incidental or consequential damages; or (b)
    any loss of income, business, actual or anticipated profits, opportunity,
    goodwill or reputation (whether direct or indirect); or (c) any damage to or
    corruption of data (whether direct or indirect).
  </p>
  <br />
  <p>
    If any third party brings a claim against Administration in connection with,
    or arising out of: breach of these Terms; breach of any applicable law or
    regulation; your infringement or violation of the rights of any third
    parties (including intellectual property rights), you will indemnify and
    hold Administration harmless from and against all damages, liability, loss,
    costs and expenses (including reasonable legal fees and costs) related to
    such claim.
  </p>
  <br />
  <h3 id="confidentiality-and-security">Confidentiality and Security</h3>
  <p>
    We are committed to respecting your privacy and the confidentiality of your
    personal information. We will process your personal information, the traffic
    data and the content of your communication(s) in accordance with our Privacy
    Policy www.outvite.me/privacy.
    Please read it carefully before starting using the Services.
  </p>
  <br />
  <h3 id="miscellaneous">Miscellaneous</h3>
  <p>
    These Terms constitute relationship between you and Administration with
    respect to your use of the Services. If any provision of these Terms (or
    part of it), is found by any court or administrative body of competent
    jurisdiction to be illegal, invalid or unenforceable, then such provision
    (or part of it) shall be removed from the Terms without affecting the
    legality, validity or enforceability of the remainder of the Terms.
  </p>
  <br />
  <p>
    The failure by Administration to exercise, or delay in exercising, a legal
    right or remedy provided by these Terms or by law shall not constitute a
    waiver of Administration’s right or remedy.
  </p>
  <br />
  <p>
    We may make changes to these Terms from time to time and we will publish the
    changes at this link
    www.outvite.me/terms. The changes
    will be effective when published. Please review the Terms on a regular
    basis. You acknowledge and agree that your express acceptance of the Terms
    or your use of the Services after the date of publication shall constitute
    your agreement to the updated Terms. If you do not agree with the amended
    Terms, you may terminate this Terms in accordance with the set forth below.
  </p>
  <br />
  <p>
    If we are unable to provide the Services as a result of force majeure, we
    will not be in breach of any of its obligations towards you under these
    Terms.
  </p>
  <br />
  <p>
    These Terms shall be governed by and interpreted in accordance with the laws
    of State of California without regard to its conflict of laws provisions.
    The exclusive jurisdiction and venue of any action with respect to the
    subject matter of these Terms will be the U.S. federal courts and state
    courts located in Santa Clara, California, and each of the parties hereto
    waives any objection to jurisdiction and venue in such courts. However, we
    reserve the right to seek injunction relief in any jurisdiction when we deem
    it necessary.
  </p>
  <br />
  <p>
    This Terms were drafted in English (US). We may provide you with a
    translation of the English language version of these Terms. In the event of
    any inconsistency between a non-English version of these Terms and the
    English version, the English version shall prevail.
  </p>
  <br />
  <p>
    YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT YOU HAVE READ THESE TERMS AND
    UNDERSTAND ALL RIGHTS, OBLIGATIONS, TERMS AND CONDITIONS SET FOR OUTVITE. BY
    CONTINUING TO USE THE SERVICES YOU EXPRESSLY CONSENT TO BE BOUND BY THESE
    TERMS YOU GRANT TO ADMINISTRATION THE RIGHTS SET FORTH HEREIN.
  </p>
  <br />
  <h3>Reference</h3>

  <p>
    Sections of this privacy policy were taken from Flighty App's terms of
    service. <a href="https://flightyapp.com/terms/">flightyapp.com/terms/</a>
  </p>
  <br />
</div>
